<style>
.navbar.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(33, 32, 32);
}
</style>

<nav class="navbar  navbar-expand-lg navbar-dark fixed-top"  >
    <a class="navbar-brand" href="http://127.0.0.1:8000/">JENFLIX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/movies">Movies</a>
        </li>
        
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->

    <div class="container">
      <form method="post">
        {%csrf_token%}
      <div class="row">
        <div class="col">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="movie">
        </div>
        <div class="col">
              <button class="btn btn-outline-success " type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
    </div>
  </nav>